$fontSize: 1.5rem;
$mainPadding: 20px;
$mainMargin: 10px;
$mainBorderRadius: 15px;

// Colors:
$primaryColor: #5891ff;
$secondaryColor: rgb(52, 91, 99);
$thirdColor: #152d35;
$black: #112031;

// box-shadow:
$shadow1: 0 0 10px rgba(0, 0, 0, 0.2);
$shadow2: 0 0 10px rgba(52, 91, 99, 0.4);;

:root{
    --nav-width: 250px;
}