@import '../../css/variables';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primaryColor : black;

:host{
    display: block;
}

main{
    position: relative;
    
    header{
        width: 100%;
        height: 55px;
        padding: 10px;
        position: sticky;
        background-color: white;
        display: flex;
        justify-content: center;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid rgba(0 0 0 / 20%);

        .searchBar{
            display: flex;
            align-items: center;
            border-radius: 7px;
            //box-shadow: 0 0px 3px rgba(0 0 0 / 20%);
            border: 1.5px solid rgba(0 0 0 / 20%);
            padding: 0 10px;
            width: 70%;
            min-width: 500px;
            height: 30px;

            svg{
                cursor: pointer;
                color: lighten($primaryColor, 50%)
            }

            input{
                border: none;
                outline: none;
                font-size: 1.1em;
                padding: 5px;
                margin: 1px;
                width: -webkit-fill-available;
                height: 100%;

                &::placeholder{
                    padding: 0 10px;
                    color: lighten($primaryColor, 70)
                }
            }
        }
    }

    main{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        margin-top: 10px;
        justify-content: center;

        small-prod{
            height: 300px;
            width: 30%;
            min-width: 280px;
            box-shadow: 0 0 5px rgba(0 0 0 / 30%);
            padding: 5px;
            border-radius: 15px;
        }
    }
    
}